@model CreateProductDTO

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<style>
    .center-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fixed-dropdown {
        min-height: 35px !important;
        height: auto !important;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3 class="text-primary text-center">
            <i class="fa fa-tags"></i> Ürünler
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard/Index"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-tags"></i> Ürünler</li>
            <li class="active"><i class="bi bi-plus-circle"></i> Yeni Ürün Ekleme</li>
        </ol>
    </section>

    <section class="content container-fluid">
        <div class="center-container">
            <div class="col-md-6">
                <div class="chart-box">
                    <h4>Yeni Ürün Ekleme</h4>
                    <br />
                    <form method="post">
                        <div class="form-group">
                            <label>Ürün Adı</label>
                            <input class="form-control" type="text" asp-for="ProductName">
                        </div>
                        <div class="form-group">
                            <label>Fiyat</label>
                            <input class="form-control" type="text" asp-for="ProductPrice">
                        </div>
                        <div class="form-group">
                            <label>Kategori</label>
                            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control fixed-dropdown" })
                        </div>
                        <div class="form-group">
                            <label>Resim Url</label>
                            <input class="form-control" type="text" asp-for="ProductImageUrl">
                        </div>
                        <div class="form-group">
                            <label>Ürün Açıklaması</label>
                            <input class="form-control" type="text" asp-for="ProductDescription">
                        </div>
                        <button type="submit" class="btn btn-success btn-rounded btn-sm">
                            <i class="bi bi-plus-circle"></i> Ekle
                        </button>
                        <a href="/Admin/Product/Index" class="btn btn-default btn-rounded btn-sm">
                            <i class="fa fa-arrow-left"></i> Geri
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
