
<style>
    /* Tüm görsel kapsayıcıları için ortalama ve belirli bir yükseklik ayarı */
    .bg-light.p-4 {
        display: flex; /* Görseli ortalamak için */
        justify-content: center; /* Yatayda ortala */
        align-items: center; /* Dikeyde ortala */
        height: 120px; /* Kapsayıcıya sabit bir yükseklik ver */
    }

        /* Görseller için sabit boyut ve orantıyı koruma */
        .bg-light.p-4 img {
            width: 100px; /* Görselin alabileceği maksimum genişlik */
            height: 80px; /* Görselin alabileceği maksimum yükseklik */
            object-fit: contain; /* Görselin orantısını bozmadan belirlenen alana sığdır */
        }
</style>

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://logovent.com/blog/wp-content/uploads/2024/12/The-Third-Nike-Logo-Evolution-1976-%E2%80%93-now.png" alt="">
                </div>
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/725px-Adidas_Logo.svg.png" alt="">
                </div>
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSQvziOkMjamVshAu6KkLiXNWfbGyMP2sxbA&s" alt="">
                </div>
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Hummel_logo_aktuell.svg" alt="">
                </div>
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLalzY5ikdgDPhYTPUsi0SXCn9S9f1tIEZKdppJxBDMStTqQ03M_sLW_Sa8FReAdQ5EHY&usqp=CAU" alt="">
                </div>
                <div class="bg-light p-4" style="border-radius: 16px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRADOPAJxUxPpalxD6t_HhyfyP3NEIBhDRtbQ&s" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
 