@model GetContactDTO

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<style>
    .center-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3 class="text-primary text-center">
            <i class="fa fa-phone"></i> İletişim
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard/Index"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-phone"></i> İletişim</li>
            <li class="active"><i class="bi bi-pencil-square"></i> İletişim Bölümü Güncelleme</li>
        </ol>
    </section>

    <section class="content container-fluid">
        <div class="center-container">
            <div class="col-md-6">
                <div class="chart-box">
                    <h4>İletişim Bölümü Güncelleme</h4>
                    <br />
                    <form method="post">
                        <input type="hidden" asp-for="ContactId" />
                        <input type="hidden" asp-for="IsRead" />
                        <input type="hidden" asp-for="SendDate" />
                        <div class="form-group">
                            <label>Adı ve Soyadı</label>
                            <input class="form-control" type="text" asp-for="NameSurname">
                        </div>
                        <div class="form-group">
                            <label>E-Mail Adresi</label>
                            <input class="form-control" type="email" asp-for="Email">
                        </div>
                        <div class="form-group">
                            <label>Konu</label>
                            <input class="form-control" type="text" asp-for="Subject">
                        </div>
                        <div class="form-group">
                            <label>Mesaj</label>
                            <textarea class="form-control" asp-for="Message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-rounded btn-sm">
                            <i class="bi bi-pencil-square"></i> Güncelle
                        </button>
                        <a href="/Admin/Contact/Index" class="btn btn-default btn-rounded btn-sm ">
                            <i class="fa fa-arrow-left"></i> Geri
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
