
<style>
    /* Navbar Badge Stilleri */
    .navbar-badge {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 3px 6px;
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 10px;
        min-width: 18px;
    }

    .badge-danger {
        background-color: #dc3545;
        color: #ffffff;
    }

    /* Icon konumunu ayarla */
    .navbar-custom-menu .nav > li > a {
        position: relative;
        padding: 15px;
    }

    /* Sayı 0 ise gizle (isteğe bağlı) */
    .navbar-badge:empty {
        display: none;
    }</style>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
    <div class="pull-left search-box">
        <form action="#" method="get" class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Ara...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                </span>
            </div>
        </form>
        <!-- search form -->
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-danger navbar-badge" id="messageCountByUserId">0</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Mesajlar (@ViewBag.messageCountByReceiverId)</li>
                    <li>
                        <ul class="menu">
                            <li>
                                <a href="#">
                                    <div class="pull-left"><img src="/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                    <h4>Florence Douglas</h4>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <p><small><i class="fa fa-clock-o"></i> 2 mins</small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left"><img src="/MainDownload-OvioAdmin-html5-template/html/dist/img/img2.jpg" class="img-circle" alt="User Image"></div>
                                    <h4>Douglas Smith</h4>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <p><small><i class="fa fa-clock-o"></i> 15 mins</small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left"><img src="/MainDownload-OvioAdmin-html5-template/html/dist/img/img3.jpg" class="img-circle" alt="User Image"></div>
                                    <h4>Lorence Deo</h4>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <p><small><i class="fa fa-clock-o"></i> 35 mins</small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="pull-left"><img src="/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                    <h4>Florence Douglas</h4>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <p><small><i class="fa fa-clock-o"></i> 2 mins</small></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">Check all notifications</a></li>
                </ul>
            </li>
            <!-- messages-menu -->
            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-comment"></i>                   
                    <span class="badge badge-danger navbar-badge" id="commentCount">0</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">Yorumlar (@ViewBag.commentCount)</li>
                    <li>
                        <ul class="menu">
                            <li><a href="#"><i class="icon-lightbulb"></i> Lorem ipsum dolor sit amet </a> </li>
                            <li><a href="#"><i class="icon-map-pin blue"></i> Lorem ipsum dolor sit amet </a> </li>
                            <li><a href="#"><i class="icon-refresh orange"></i> Lorem ipsum dolor sit amet </a> </li>
                            <li><a href="#"><i class="icon-map-pin blue"></i> Lorem ipsum dolor sit amet </a> </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <!-- Tasks Menu -->
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="https://t3.ftcdn.net/jpg/00/65/75/68/360_F_65756860_GUZwzOKNMUU3HldFoIA44qss7ZIrCG8I.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin</span> </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <div class="pull-left user-img"><img src="/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-responsive" alt="User"></div>
                        <p class="text-left">Admin <small>florence@gmail.com</small> </p>
                        <div class="view-link text-left"><a href="#">View Profile</a> </div>
                    </li>
                    <li><a href="#"><i class="icon-profile-male"></i> My Profile</a></li>
                    <li><a href="#"><i class="icon-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="icon-envelope"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="icon-gears"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
