@model List<ResultCategoryDTO>

<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
    <div class="navbar-nav w-100">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Index", "Products", new { CategoryId = item.CategoryId })"
               class="nav-item nav-link @(Context.Request.Query["CategoryId"] == item.CategoryId.ToString() ? "active" : "")">
                @item.CategoryName
            </a>
        }
    </div>
</nav>