@model CreateContactDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30" style="border-radius: 16px;">
                <a class="breadcrumb-item text-dark" href="/Default/Index">Ana Sayfa</a>
                <span class="breadcrumb-item active">İletişim</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">BİZE ULAŞIN</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30" style="border-radius: 16px;">
                <div id="success"></div>
                <form method="post">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Adınız ve Soyadınız" style="border-radius: 10px;"
                               required="required" data-validation-required-message="Lütfen adınızı ve soyadınızı girin!" asp-for="NameSurname"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="E-Mail Adresiniz" style="border-radius: 10px;"
                               required="required" data-validation-required-message="Lütfen E-Mail adresinizi girin!" asp-for="Email"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Konu" style="border-radius: 10px;"
                               required="required" data-validation-required-message="Lütfen konu girin!" asp-for="Subject"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="message" placeholder="Mesajınız" style="border-radius: 10px;"
                                  required="required"
                                  data-validation-required-message="Lütfen mesajınızı girin!" asp-for="Message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton" style="border-radius: 5px;">
                            Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30" style="border-radius: 16px;">
                <iframe style="width: 100%; height: 250px; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.669228975264!2d29.026597376528088!3d40.99042502052328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0b8afbb1f%3A0x703cd0993370cf84!2zS2FkxLFrw7Z5IEJvxJ9hIEhleWtlbGk!5e1!3m2!1str!2str!4v1763492641693!5m2!1str!2str" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="bg-light p-30 mb-3" style="border-radius: 16px;">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Kadıköy, İstanbul, TR</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@multishopecom.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+123 456 78 90</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
