
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MultiShop E-Ticaret Sitesi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/online-shop-website-template/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/online-shop-website-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/online-shop-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/online-shop-website-template/css/style.css" rel="stylesheet">    
</head>
<body>
    
    @await Component.InvokeAsync("_TopbarUILayoutComponent")

    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Kategoriler</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                @await Component.InvokeAsync("_CategoryUILayoutComponent")
            </div>
            <div class="col-lg-9">
                @await Component.InvokeAsync("_NavbarUILayoutComponent")
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            
            @await Component.InvokeAsync("_AboutUILayoutComponent")

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">HIZLI BAĞLANTILAR</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ana Sayfa</a>                           
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Alışveriş</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sepet</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>İletişim</a>                           
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Bülten</h5>
                        <p>İndirimlerimizden haberdar olmak için hemen bültenimize kaydolun.</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="E-Mail Adresiniz" style="border-radius: 5px;">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" style="border-radius: 5px;">Kayıt Ol</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">BİZİ TAKİP EDİN</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">MultiShop E-Commerce</a>. Tüm hakları saklıdır.                    
                    <a class="text-primary" href="https://htmlcodex.com"> HTML Codex </a>tarafından tasarlandı.
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="/online-shop-website-template/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/online-shop-website-template/lib/easing/easing.min.js"></script>
    <script src="/online-shop-website-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Contact Javascript File -->
    <script src="/online-shop-website-template/mail/jqBootstrapValidation.min.js"></script>
    <script src="/online-shop-website-template/mail/contact.js"></script>
    <!-- Template Javascript -->
    <script src="/online-shop-website-template/js/main.js"></script>

    @await Component.InvokeAsync("_ChatBotUILayoutComponent")

    <script>
        const toggle = document.getElementById("chatbot-toggle");
        const box = document.getElementById("chatbot-box");
        const closeBtn = document.getElementById("chatbot-close");

        toggle.onclick = () => box.style.display = "flex";
        closeBtn.onclick = () => box.style.display = "none";

        document.getElementById("sendMessage").onclick = async () => {
            const input = document.getElementById("chatInput");
            const messages = document.getElementById("chatMessages");
            const userMessage = input.value.trim();

            if (userMessage === "") return;

            // Kullanıcı mesajı
            messages.innerHTML += `
                <div class="user-message">${userMessage}</div>
            `;
            input.value = "";

            // Typing efekti
            const typingDiv = document.createElement("div");
            typingDiv.className = "bot-message";
            typingDiv.innerText = "Yazıyor...";
            messages.appendChild(typingDiv);
            messages.scrollTop = messages.scrollHeight;

            try {
                const response = await fetch("/UILayout/SendMessage", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `userMessage=${encodeURIComponent(userMessage)}`
                });

                const botReply = await response.json();

                typingDiv.remove();

                messages.innerHTML += `
                    <div class="bot-message">${botReply}</div>
                `;
                messages.scrollTop = messages.scrollHeight;

            } catch (error) {
                typingDiv.innerText = "Bir hata oluştu 😢";
            }
        };
    </script>

</body>
</html>
